<section
  id="about"
  data-theme="about"
  class="section relative z-10 h-screen flex flex-col items-center pt-36"
>

  <h2 class="reveal text-7xl tracking-widest text-[rgb(var(--accent))] mb-20">
    ABOUT ME
  </h2>


  <p
    id="about-typing"
    class="typing-text text-base sm:text-lg md:text-2xl max-w-xl md:max-w-5xl text-center leading-relaxed px-4"></p>

<div class="hud-animation reveal">
  <span class="hud-block"></span>
  <span class="hud-block"></span>
  <span class="hud-block"></span>
</div>


  <button
    id="about-more"
    class="play-button mt-16 reveal"
  >
    ↓
  </button>
</section>


