<section
  id="contact"
  data-theme="contact"
  class="section relative z-10 h-screen flex flex-col items-center pt-40"
>

  <h2 class="contact-titulo reveal text-7xl tracking-widest text-[rgb(var(--accent))] mb-24">
    CONTACT
  </h2>



  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12">



    <a
      href="https://www.instagram.com/franmarttinnez/"
      target="_blank"
      rel="noopener noreferrer"
      class="card reveal flex flex-col items-center justify-center card card-link"
    >
      <div class="stack-icon">
        <span class="square back"></span>
        <span class="square front"></span>
      </div>
      <span class="stack-name">INSTAGRAM</span>
    </a>


    <a
      href="https://www.linkedin.com/in/francisco-martinez-233632338/"
      target="_blank"
      rel="noopener noreferrer"
      class="card reveal card-linkedin flex flex-col items-center justify-center card card-link"
    >
      <div class="stack-icon">
        <span class="square back"></span>
        <span class="square front"></span>
      </div>
      <span class="stack-name">LINKEDIN</span>
    </a>


    <a
      href="https://github.com/franciscomarttinnez"
      target="_blank"
      rel="noopener noreferrer"
      class="card reveal card-github flex flex-col items-center justify-center card card-link"
    >
      <div class="stack-icon">
        <span class="square back"></span>
        <span class="square front"></span>
      </div>
      <span class="stack-name">GITHUB</span>
    </a>


    <a
      href="https://wa.me/543625174899"
      target="_blank"
      rel="noopener noreferrer"
      class="card reveal card-whatsapp flex flex-col items-center justify-center card card-link"
    >
      <div class="stack-icon">
        <span class="square back"></span>
        <span class="square front"></span>
      </div>
      <span class="stack-name">WHATSAPP</span>
    </a>

  </div>

  <button
  id="contact-home"
  class="play-button home-button mt-24 reveal"
>
  <span class="home-icon">
    <span class="home-roof"></span>
    <span class="home-body"></span>
  </span>
</button>

</section>
