<section
  id="diplomas"
  data-theme="diplomas"
  class="section relative z-10 h-screen flex flex-col items-center pt-40"
>
  <!-- Título -->
  <h2 class="reveal text-7xl tracking-widest text-[rgb(var(--accent))] mb-24">
    DIPLOMA
  </h2>

  <!-- Grid de diplomas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">


    <!-- Diploma 1 -->
<div class="diploma-item reveal">

  <div class="card">
    <div class="stack-icon">
      <span class="square back"></span>
      <span class="square front"></span>
    </div>

    <span class="stack-name">PYTHON</span>
  </div>

  <a
    href="https://pub.coderhouse.com/certificates/09c7f3da-671c-44fe-9927-cd4fdb883464?v=1"
    class="card-button"
    target="_blank"
    rel="noopener noreferrer"
  >
    SEE
  </a>

</div>


    <!-- Diploma 2 -->
<div class="diploma-item reveal">

  <div class="card">
    <div class="stack-icon">
      <span class="square back"></span>
      <span class="square front"></span>
    </div>

    <span class="stack-name text-center leading-snug">
      WEB<br />DEVELOP
    </span>
  </div>
  
  <a
    href="https://lnkd.in/eETzir5T"
    class="card-button"
    target="_blank"
    rel="noopener noreferrer"
  >
    SEE
  </a>

</div>



    <!-- Diploma 3 -->
<div class="diploma-item reveal">

  <div class="card">
    <div class="stack-icon">
      <span class="square back"></span>
      <span class="square front"></span>
    </div>

    <span class="stack-name">ENGLISH</span>
  </div>

  <a
    href="https://drive.google.com/file/d/1-5Ibf35iGdJghCLG92C5N_abXHBK9igN/view?usp=sharing"
    class="card-button"
    target="_blank"
    rel="noopener noreferrer"
  >
    SEE
  </a>

</div>


  </div>
  <!-- Diploma animation -->
  <div class="diploma-anim reveal">
    <div class="diploma-paper">
      <div class="diploma-top"></div>

      <span class="diploma-line"></span>
      <span class="diploma-line short"></span>

      <div class="diploma-seal"></div>
    </div>
  </div>
<button
  id="diploma-contact"
  class="play-button reveal"
>
  CONTACT ME
</button>

</section>
