<section
  id="stack"
  data-theme="stack"
  class="section relative z-10 h-screen flex flex-col items-center pt-40"
>

  <h2 class="reveal text-7xl tracking-widest text-[rgb(var(--accent))] mb-24">
    STACKS
  </h2>


  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-16">


<div class="card reveal">
  <div class="stack-icon">
    <span class="square back"></span>
    <span class="square front"></span>
  </div>

  <span class="stack-name">HTML</span>
</div>


<div class="card reveal">
  <div class="stack-icon">
    <span class="square back"></span>
    <span class="square front"></span>
  </div>

  <span class="stack-name">CSS</span>
</div>


<div class="card reveal">
  <div class="stack-icon">
    <span class="square back"></span>
    <span class="square front"></span>
  </div>

  <span class="stack-name">JAVASCRIPT</span>
</div>


<div class="card reveal">
  <div class="stack-icon">
    <span class="square back"></span>
    <span class="square front"></span>
  </div>

  <span class="stack-name">ASTRO</span>
</div>


<div class="card reveal">
  <div class="stack-icon">
    <span class="square back"></span>
    <span class="square front"></span>
  </div>

  <span class="stack-name">TAILWIND</span>
</div>


<div class="card reveal">
  <div class="stack-icon">
    <span class="square back"></span>
    <span class="square front"></span>
  </div>

  <span class="stack-name">NODE</span>
</div>


  </div>
  <button
  id="stack-next"
  class="play-button mt-20 reveal"
>
  ↓
</button>

</section>
